body{
  background-color: bisque;
}

#primary-container{
  max-width: 950px;
  margin: 0 auto;

}

header {
  background-color: aquamarine;
  height: 150px;
}

#sidebar {
  width: 20%;
  margin: 20px;
  background-color: cornflowerblue;
  height: auto;
}